*{
    background-color: #e5e5e5;
    box-sizing: border-box;
    margin: 0;
    padding: auto;

}


.header{
    width: 100%;
    height: 75px;
    background-color: gainsboro;
    
}

.main{
    margin-top:10px;
    display:flex;
    width: 100%;
    height: 720px;
}
.texto{

    width: 50%;
    height: 695px;  
    margin-left: 10%;
}

textarea {
    resize: none;
    border-radius: 8px;
    width: 70%;
    height: 550px;
    font-size: 20px;
    color:  #0a3871;
    border:1px solid #0a3871;
    padding: 5%;
  }

  .resultado{
    resize: none;
    border-radius: 8px;
    width: 70%;
    height: 550px;
    font-size: 20px;
    color: gray;
    padding: 5%;
  }
  .mensaje{
    width: 90%;
  }
.botones{
    margin-left: 15%;
}
button{
    margin: 3px;
    width: 50%;
    height: 45px;
    border-radius: 8px;
    background-color: #0a3871;
    color:#e5e5e5
}

button:hover{
    background-color: gray;    
}

.search-image{
    height: 550px;
    width: 80%;
}

.boton-copiar{
    display: none;
}

.resultado{
    display: none;
    border: 1px solid #0a3871;
}

.encriptado{
    width: 50%;
    height: 695px;
    
}

.footer{
    width: 100%;
    height: 120px;
    background-color: #0a3871;
}

.footer > p{
    background-color: #0a3871;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size:26px;
}